@page "/CategoriaCliente/Alterar/{id:int}"

@using LB_HelpDesk.Data.DTO;
@using LB_HelpDesk.Data.Interface
@inject ICategoriaClienteService categoriaService
@inject NavigationManager navigationManager

@if(Categoria != null)
{
    <div class="row">
        <div class="col-lg-9">
            <h1>@Categoria.DsCategoria</h1>
        </div>
        <div class="col-lg-3 text-right">
            <a class="btn btn-secondary btn-sm" href="/CategoriaCliente" role="button">Voltar Lista</a>
        </div>
    </div>
    <EditForm Model="@Categoria" OnValidSubmit="@SubmitCategoria">
        <div class="form-group">
            <label>Descrição Categoria</label>
            <InputText class="form-control" @bind-Value="Categoria.DsCategoria"/>
        </div>
        <button type="submit" class="btn btn-primary">Alterar</button>
    </EditForm>
}

@code {
    [Parameter]
    public int Id{ get; set; }

    CategoriaCliente Categoria;

    protected override async Task OnInitializedAsync()
    {
        Categoria = await categoriaService.GetByIdAsync(id:Id);
    }

    private async Task SubmitCategoria()
    {
        await categoriaService.UpdateAsync(Categoria);
        navigationManager.NavigateTo("/CategoriaCliente");
    }
}